//Estilos Barra de navegacion-Header
.container{
    display: flex;
}
.navbar {
    margin: 0px auto;
}
.form-inline {
    display:flex;
    padding: 0 1em;
}
.form-control{
    padding: 0 2em;
}
.btn {
    margin-left: 1em;
}