<div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light">Doctor</div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Modulo Sitas Medicas Asignadas</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Modulo Aniair Informe Medico</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Modulo Paciente</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Modulos Doctores</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Modulo My Perfil</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!"></a>
            </div>
 </div>
