<div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light">Doctor</div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Dashboard</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Accesos directos</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Ficha pacientes</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Cita médica</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Perfil</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Status</a>
            </div>
 </div>
